<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
</head>
<body>
    <div class="top"></div>

    <div class="left"></div>

    <div class="middle">
        <asp:PlaceHolder ID="middle" runat="server"></asp:PlaceHolder>
    </div>

    <div class="right"></div>
</body>
</html>
