
.main{
    background-color: #3498db;
    height: 500px;
}
.left{
    background-color: #1abc9c;
    height: 500px;
}
.right{
    background-color: #e74c3c;
    height: 500px;
}
.header{
    background-color: #2c3e50;
    height: 50px;
    max-width: 1024px;
    margin: 0 auto;

}
a{
    color: #ffffff;
     text-decoration: none;
}
ul{
    margin-top: 0px;
    padding-top: 10px;
}
ul > li{
    height: 30px;

}
body {
    background: #fafafa;
    margin: 0;
    font-size: 100%;
    font-family: tahoma;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
.searchStyle{
    border-radius: 10px;
    box-shadow: none;
    vertical-align: middle;
    border: none;
    height: 30px;
}
@media all and (min-width:48em){
    .main {
        float: left;
        width: 75%;
        margin-left: 25%;
        padding-left: 20px;
    }

    .left {
        float: left;
        width: 25%;
        margin-left: -100%;
    }

    .right {
        clear: both;
    }
    .nav-brand {
    float: left;
    font-size: 1.2em;
    padding: 8px 20px 8px 10px;
    color: #AFCE2D;
    }

    .nav-btn {
        display: none;
    }
    .nav-wrap {
        position: static;
        width: 100%;
        overflow: visible;
    }
  
    .nav > li {
        float: left;
        border: none;
        border-left: 1px solid #4e5d6d;
        list-style-type: none;
         padding-left:30px;
        padding-right:30px;
    }

        .nav > li:last-child {
            border-right: none;
        }

        .nav > li.search-form {
            border: none;
            float: right;
        }

    .nav-push .canvas-inner {
        left: 0;
    }
    .transform3d .nav-push .canvas-inner {
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
    }
       
}

@media all and (min-width:64em) {
    .main {
        width: 50%;
        padding-right: 20px;
    }

    .left {
        margin-left: -75%;
    }

    .right {
        clear: none;
        float: left;
        width: 25%;
    }
    .nav-brand {
    float: left;
    font-size: 1.2em;
    padding: 8px 20px 8px 10px;
    color: #AFCE2D;
    }

    .nav-btn {
        display: none;
    }
    .nav-wrap {
        position: static;
        width: 100%;
        overflow: visible;
    }

    .nav > li {
        float: left;
        border: none;
        border-left: 1px solid #4e5d6d;
         list-style-type: none;
        padding-left:30px;
        padding-right:30px;
    }

        .nav > li:last-child {
            border-right: none;
        }

        .nav > li.search-form {
            border: none;
            float: right;
        }

    .nav-push .canvas-inner {
        left: 0;
    }
    .transform3d .nav-push .canvas-inner {
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
    }
   
}
@media all and (max-width:48em) {
     .nav-brand {
        float: right;
        font-size: 1.2em;
        padding: 8px 20px 8px 10px;
        color: #AFCE2D;
    }
    .nav-wrap {
        position: absolute;
        top: 0;
        left: -80%;
        width: 80%;
        background: #2c3e50;
        height: 100%;
        overflow: hidden;
    }
    .nav > li {
        border: none;
        padding-bottom: 40px;
        padding-top: 10px;
        border-top: 1px solid #222;
        border-bottom: 1px solid #444;
        list-style-type: none;
    }
    .nav{
        padding-left: 15px;
    }
    .canvas-inner {
        left: 0;
        position: relative;
    }
    
        .canvas-outer {
        overflow-x: hidden;
    }
    ul{
        padding-top: 0px;
    }
}



.nav-btn {
    color: #FFFFFF;
    height: 2.8125rem;
    line-height: 2.0625rem;
    padding: 0;
    position: absolute;
    text-indent: 2.1875rem;
    width: 2.8125rem;
    top: 0;
    overflow: hidden;
    }

.nav-btn span {
    box-shadow: 0 10px 0 1px #FFFFFF, 0 16px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
    display: block;
    height: 0;
    left: 0.8125rem;
    position: absolute;
    top: 0.3125rem;
    width: 1rem;
}



.nav-push .canvas-inner {
    left: 80%;
}

.nav:before, .nav:after {
    content: " ";
    display: table;
}

.canvas-inner {
    left: 0;    
    -webkit-transition: left .2s ease;
    transition: left .2s ease;
}












