<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Northwind" connectionString="Data Source=TVPHAM;Initial Catalog=Northwind;Integrated Security=true;" />
    <add name="AspNetDBConnection" connectionString="Data Source=TVPHAM;Initial Catalog=aspnetdb;Integrated Security=true;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <anonymousIdentification enabled="true" />
    <profile defaultProvider="SqlProvider">
      <properties>
        <group name="MandatoryInfo">
          <add name="FirstName" type="System.String" allowAnonymous="true"/>
          <add name="LastName" type="System.String" allowAnonymous="true"/>
        </group>
        <group name="OptionalInfo">
          <add name="DateOfBirth" type="System.DateTime" allowAnonymous="true"/>
          <add name="Address" type="System.String" allowAnonymous="true"/>
        </group>
      </properties>
      <providers>
        <clear />
        <add name="SqlProvider"
             type="System.Web.Profile.SqlProfileProvider"
             connectionStringName="AspNetDBConnection" />
      </providers>
    </profile>
  </system.web>
</configuration>